<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/icon type">
</head>

<body class="body-inside">
    <div id="ias">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="{{ url_for('application') }}">Application Upload</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="{{ url_for('config') }}">Config Edit</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="{{ url_for('query') }}">Sensor Query</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="{{ url_for('login') }}">Logout</a>
            </li>
        </ul>
    </div>

    <div class="card upload-form-application">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">Application Upload</h4>
                <hr>{% if displaytext == 'Error' %}
                <p class="text-success text-center message-show-error">{{ displaytext }}</p>
                {% elif displaytext == 'Successful' %}
                <p class="text-success text-center message-show-sucess">{{ displaytext }}</p>
                {% else %}
                <p style="visibility:hidden;">text</p>
                {% endif %}
                <form action="{{ url_for('application') }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="username" class="form-control" placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" accept=".zip" id="inputfile">
                            <label class="custom-file-label" for="inputfile">Select file</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Upload </button>
                    </div>
                </form>
                <p class="divider-text">
                    <span class="bg-light">OR</span>
                </p>
                <p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" style="margin-left:12%;">
                        Read Upload Instructions
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable .modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Upload Instructions</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>
                                            abcd
                                        </li>
                                        <li>
                                            abcd
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </article>
        </div>
    </div>

    <script>
        $('#inputfile').on('change', function() {
            var fileName = $(this).val();
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>

</body>

</html>