<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <title>Output</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/icon type">

    <script type="text/JavaScript">

        $(document).ready(function() { setInterval(function(){ $.ajax({ url:"{{ url_for('output') }}", dataType: 'json', data:{required:'send'}, type:'POST', success: function(data){ var i=0; for(i=0;i
        <data.length;++i){ $( "#datatable").append( '<tr><td class="text-center">'+data[i]+ '</td></tr>'); } } }); },2000); $( "#clear").click(function(){ $.ajax({ url: "{{ url_for('output') }}", dataType: 'json', data:{required: 'clear'}, type: 'POST', success: function(data){ window.location=data; } }); }); }); </script>
</head>

<body class="body-inside">
    <div class="center">
        <h1>Sensor Output</h1>
        <button id="clear" type="button" class="btn btn-primary" style="margin-top:2rem; margin-bottom: 2rem;width:10rem;">Dashboard</button>
    </div>
    <div id="sensor-data" class="container">
        <table class="table table-bordered table-striped" id="datatable">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Output</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td class="text-center">Output 1</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</body>

</html>